@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background: linear-gradient(180deg, rgba(0,0,0,0.49) 12%, rgba(0,0,0,0) 100%);
    height: 86px;
    width: 100%;
    position: relative;
    z-index: 3;
    &-link {
        a {
            text-decoration: none;
            font-family: "Roboto", system-ui;
            font-weight: regular;
            color: white;
            font-size: 24px;
            margin-left: 59px;
        }
    }
    &-Logo {
        width: 10px;
    }
}

li {
    display: inline-block;
    i {
        color: #ffffff;
        margin-top: 1px;
        margin-left: 10px;
        vertical-align:text-top;
    }
}
