.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* สไตล์สำหรับ modal content */
  .modal-content {
    display: flex;
    background: #0B0808;
    padding: 20px;
    border-radius: 8px;
    width: 750px;
    max-width: 80%;
    text-align: center;
    position: relative;
    input {
        width: 90%;
        display: inline;
        width: 60%;
    }
    &-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: flex-start;
        flex: 1;
        color:#F0F8FF;
        &-header {
            font-size: 50px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 10px;
            text-align: start;
            line-height: 50px;
            color:#F0F8FF;
        }
    }
    &-input {
        flex: 1;
        color: #F0F8FF;
        text-align: start;
    }
  }
  
  .modal-content button {
    margin-top: 10px;
  }

  input {
    color: #F0F8FF;
    background-color: #1D2534;
    padding: 7px 24px;
    border-radius: 10px;
    margin: 5px;
    border: none;
  }

  label {
    font-size: 15px;
  }